Repository morabah/health-7, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ui-team, @backend-team, @qa-team

.github/CODEOWNERS:

# UI modules
/src/components/patient/ @ui-team
/src/components/doctor/  @ui-team
# API & libs
/src/lib/                @backend-team
# E2E tests
/e2e/                    @qa-team

Fix ErrorBoundary import issues and API call in optimizedDataAccess.ts
  src/app/(platform)/admin/dashboard/page.tsx
  src/app/(platform)/doctor/appointments/page.tsx
  src/app/(platform)/doctor/profile/page.tsx
  src/app/(platform)/patient/appointments/page.tsx
  src/app/(platform)/patient/profile/page.tsx
  src/app/auth/login/page.tsx
  src/app/auth/pending-verification/page.tsx
  src/lib/optimizedDataAccess.ts
Owners: @backend-team

Sync all remaining files (local DB, debug helper, error boundaries index)
  local_db/appointments.json
  local_db/doctors.json
  local_db/notifications.json
  local_db/users.json
  public/debug-helper.js
  src/components/error-boundaries/index.tsx
Owners: none

Fix TypeScript and accessibility issues: improved typing, removed unused variables, added proper ARIA attributes
  PROJECT_REFERENCE.md
  src/app/auth/pending-verification/page.tsx
  src/app/cms/doctor-verification/[doctorId]/page.tsx
  src/app/cms/doctor-verification/page.tsx
  src/components/notifications/NotificationList.tsx
  src/context/AuthContext.tsx
Owners: none

Update project files and fix linting issues
  PROJECT_REFERENCE.md
  local_db/appointments.json
  local_db/notifications.json
  local_db/users.json
  src/app/(platform)/book-appointment/[doctorId]/page.tsx
  src/app/(platform)/doctor/appointments/[appointmentId]/page.tsx
  src/app/(platform)/doctor/appointments/page.tsx
  src/app/(platform)/patient/appointments/page.tsx
  src/app/auth/register/patient/page.tsx
  src/components/patient/CancelAppointmentModal.tsx
  src/data/doctorLoaders.ts
  src/data/patientLoaders.ts
  src/lib/cacheManager.ts
  src/lib/dataValidationUtils.ts
  src/lib/lruCache.ts
  src/lib/performance.ts
  src/lib/performanceMetrics.ts
Owners: @ui-team, @backend-team

Fix user management dropdown actions functionality
  src/app/(platform)/admin/users/page.tsx
Owners: none

Add create user page and update documentation
  PROJECT_REFERENCE.md
  src/app/(platform)/admin/users/create/page.tsx
Owners: none

Remove obsolete error handling files and update deprecation notice
  src/lib/apiErrorHandling.ts
  src/lib/errorMonitoring.ts
  src/lib/errorUtils.ts
  src/lib/errors.ts
  src/lib/firebaseErrorMapping.ts
Owners: @backend-team

Fix error system imports
  backup/src/lib/apiErrorHandling.ts
  backup/src/lib/errorMonitoring.ts
  backup/src/lib/errorUtils.ts
  backup/src/lib/firebaseErrorMapping.ts
  scripts/update-error-imports.sh
  src/components/error-boundaries/AdminDashboardErrorBoundary.tsx
  src/components/error-boundaries/AppointmentErrorBoundary.tsx
  src/components/error-boundaries/AuthErrorBoundary.tsx
  src/components/error-boundaries/BookingPaymentErrorBoundary.tsx
  src/components/error-boundaries/BookingWorkflowErrorBoundary.tsx
  src/components/error-boundaries/DataLoadingErrorBoundary.tsx
  src/components/error-boundaries/DoctorProfileErrorBoundary.tsx
  src/components/error-boundaries/PaymentProcessingErrorBoundary.tsx
  src/components/error-boundaries/TimeSlotSelectionErrorBoundary.tsx
  src/components/layout/RootErrorBoundary.tsx
  src/components/ui/ErrorBoundary.tsx
  src/components/ui/withErrorBoundary.tsx
  src/hooks/useErrorHandler.ts
  src/lib/apiClient.ts
Owners: @backend-team

Fix book appointment page errors and add route redirect
  src/app/(platform)/book-appointment/[doctorId]/page.tsx
  src/app/book-appointment/[doctorId]/page.tsx
Owners: none

Fix routing conflict by using Next.js redirects instead of duplicate page component
  next.config.js
Owners: none

Remove duplicate book-appointment route component in favor of Next.js redirects
  PROJECT_REFERENCE.md
  src/app/book-appointment/[doctorId]/page.tsx
Owners: none

Fix redirect loop in next.config.js
  next.config.js
Owners: none

Fix missing doctor image and update Next.js config to use remotePatterns
  next.config.js
  public/images/default-doctor.png
Owners: none

Optimize network performance with enhanced caching and request deduplication
  PROJECT_REFERENCE.md
  src/lib/PROJECT_REFERENCE.md
  src/lib/apiClient.ts
  src/lib/apiDeduplication.ts
  src/lib/enhancedApiClient.ts
  src/lib/lruCache.ts
  src/lib/optimizedDataAccess.ts
  src/lib/queryClient.ts
Owners: @backend-team

Fix CacheCategory export and BookAppointmentPreloader issues
  PROJECT_REFERENCE.md
  local_db/appointments.json
  local_db/notifications.json
  src/app/(platform)/book-appointment/[doctorId]/page.tsx
  src/components/doctors/DoctorSearchResults.tsx
  src/components/shared/LazyDoctorList.tsx
  src/data/adminLoaders.ts
  src/data/doctorLoaders.ts
  src/lib/browserCacheManager.ts
  src/lib/cacheManager.ts
  src/lib/localApi.ts
  src/lib/localApiFunctions.ts
  src/lib/preloadStrategies.ts
  src/lib/queryClient.ts
Owners: @backend-team

Add layout components and UI elements: PageHeader, PageSection, StatsCard, and TabsContainer
  PROJECT_REFERENCE.md
  local_db/appointments.json
  local_db/notifications.json
  package-lock.json
  package.json
  src/app/(platform)/book-appointment/[doctorId]/page.tsx
  src/components/doctors/DoctorCard.tsx
  src/components/doctors/DoctorList.tsx
  src/components/layout/Footer.tsx
  src/components/layout/Layout.tsx
  src/components/layout/PageHeader.tsx
  src/components/layout/PageSection.tsx
  src/components/ui/Alert.tsx
  src/components/ui/Badge.tsx
  src/components/ui/Button.tsx
  src/components/ui/Card.tsx
  src/components/ui/Input.tsx
  src/components/ui/NotificationBell.tsx
  src/components/ui/Spinner.tsx
  src/components/ui/StatsCard.tsx
  src/components/ui/TabsContainer.tsx
  src/data/doctorLoaders.ts
  src/lib/apiDeduplication.ts
  src/lib/localApiFunctions.ts
  src/lib/performance.ts
  src/lib/preloadStrategies.ts
  yarn.lock
Owners: @backend-team

Fix linting issues in components and utilities
  src/components/doctors/DoctorCard.tsx
  src/components/doctors/DoctorList.tsx
  src/lib/apiDeduplication.ts
  src/lib/preloadStrategies.ts
Owners: @backend-team

Implement modern health UI design elements: neomorphism, enhanced cards and improved footer
  src/components/doctors/DoctorCard.tsx
  src/components/layout/Footer.tsx
  src/components/ui/Card.tsx
  src/components/ui/StatsCard.tsx
Owners: none

Accessibility improvements and bug fixes
  PROJECT_REFERENCE.md
  local_db/doctors.json
  local_db/notifications.json
  local_db/users.json
  src/app/(platform)/admin/doctor-verification/[doctorId]/page.tsx
  src/app/(platform)/book-appointment/[doctorId]/page.tsx
  src/app/(platform)/doctor/appointments/[appointmentId]/page.tsx
  src/app/auth/register/doctor/page.tsx
  src/app/auth/register/patient/page.tsx
  src/components/admin/VerificationForm.tsx
  src/components/doctor/CancelAppointmentModal.tsx
  src/components/doctor/CompleteAppointmentModal.tsx
  src/components/doctors/DoctorCard.tsx
  src/components/error/AppErrorBoundary.tsx
  src/components/layout/Navbar.tsx
  src/components/patient/CancelAppointmentModal.tsx
  src/components/ui/Card.tsx
  src/components/ui/NotificationBell.tsx
  src/components/ui/StatsCard.tsx
  src/data/patientLoaders.ts
  src/data/sharedLoaders.ts
  src/hooks/withErrorBoundary.tsx
  src/lib/api/adminFunctions.ts
  src/lib/apiDeduplication.ts
  src/lib/browserCacheManager.ts
  src/lib/cacheManager.ts
  src/lib/optimizedDataAccess.ts
  src/lib/preloadStrategies.ts
  src/lib/queryClient.ts
Owners: @ui-team, @backend-team

Implement data validation tools and schema verification system
  PROJECT_REFERENCE.md
  api-validation-audit.json
  db-validation-report.json
  local_db/appointments.json
  local_db/notifications.json
  package.json
  scripts/validateApiEndpoints.ts
  scripts/validateDbSchemas.ts
  src/app/(platform)/book-appointment/[doctorId]/page.tsx
  src/app/auth/register/doctor/page.tsx
  src/app/auth/register/patient/page.tsx
  src/components/doctors/DoctorCard.tsx
  src/lib/api/appointmentFunctions.ts
  src/lib/apiDeduplication.ts
  src/lib/browserCacheManager.ts
  src/lib/cacheManager.ts
  src/lib/dataValidationUtils.ts
  src/lib/dateUtils.ts
  src/lib/optimizedDataAccess.ts
Owners: @backend-team

Implement schema validation for appointment-related API endpoints
  api-validation-audit.json
  src/lib/api/appointmentFunctions.ts
  src/types/schemas.ts
Owners: @backend-team

Enhance getMyAppointments with proper filtering and pagination
  src/lib/api/appointmentFunctions.ts
  src/types/schemas.ts
Owners: @backend-team

Update PROJECT_REFERENCE.md with schema validation improvements
  PROJECT_REFERENCE.md
Owners: none

Implement schema validation for admin API endpoints
  api-validation-audit.json
  src/lib/api/adminFunctions.ts
  src/types/enums.ts
  src/types/schemas.ts
Owners: @backend-team

Update PROJECT_REFERENCE.md with Phase 2 validation improvements
  PROJECT_REFERENCE.md
Owners: none

Implement schema validation for notification and doctor API endpoints
  api-validation-audit.json
  src/lib/api/doctorFunctions.ts
  src/lib/api/notificationFunctions.ts
  src/types/schemas.ts
Owners: @backend-team

Update PROJECT_REFERENCE.md with Phase 3 validation improvements
  PROJECT_REFERENCE.md
Owners: none

Fix getDoctorAvailability API call and DataFetchError implementation
  src/data/doctorLoaders.ts
  src/lib/errors/errorClasses.ts
  src/lib/optimizedDataAccess.ts
Owners: @backend-team

Complete API validation implementation and error handling fixes
  PROJECT_REFERENCE.md
  api-validation-audit.json
  scripts/fix-validation.ts
  scripts/validateApiEndpoints.ts
  src/app/(platform)/book-appointment/[doctorId]/page.tsx
  src/lib/api/adminFunctions.ts
  src/lib/api/dashboardFunctions.ts
  src/lib/api/doctorFunctions.ts
  src/lib/localApiFunctions.ts
  src/lib/mockApi/appointmentApi.ts
  src/types/schemas.ts
Owners: @backend-team

Fix: Correct admin dashboard total user count and streamline data fetching
  PROJECT_REFERENCE.md
  local_db/appointments.json
  local_db/notifications.json
  src/app/(platform)/admin/dashboard/page.tsx
  src/app/(platform)/admin/users/page.tsx
  src/app/(platform)/book-appointment/[doctorId]/page.tsx
  src/app/(platform)/patient/appointments/page.tsx
  src/app/api/localDb/route.ts
  src/data/adminLoaders.ts
  src/data/sharedLoaders.ts
  src/lib/api/adminFunctions.ts
  src/lib/api/appointmentFunctions.ts
  src/lib/api/dashboardFunctions.ts
  src/lib/apiClient.ts
  src/types/schemas.ts
Owners: @backend-team

Fix: Implement admin appointments pagination and resolve details page error
  PROJECT_REFERENCE.md
  local_db/appointments.json
  local_db/notifications.json
  src/__tests__/logger.spec.ts
  src/app/(platform)/admin/appointments/page.tsx
  src/app/(platform)/admin/dashboard/page.tsx
  src/app/(platform)/doctor/appointments/[appointmentId]/page.tsx
  src/data/adminLoaders.ts
  src/lib/api/adminFunctions.ts
  src/lib/apiClient.ts
  src/lib/logger.ts
Owners: @backend-team

chore: commit all local changes
  .eslintrc.json
  local_db/doctors.json
  local_db/notifications.json
  local_db/users.json
  scripts/fix-validation.ts
  src/app/cms/api-test/page.tsx
  src/app/cms/doctor-verification/[doctorId]/page.tsx
  src/app/cms/page.tsx
  src/app/cms/validation.tsx
  src/app/cms/validation/page.tsx
  src/app/layout.tsx
  src/components/auth/Protected.tsx
  src/components/auth/ProtectedPage.tsx
  src/components/shared/DoctorItem.tsx
  src/firebase_backend/functions/src/shared/schemas.ts
  src/hooks/useErrorHandler.ts
  src/hooks/useErrorSystem.ts
  src/lib/lazyLoadUtils.tsx
  src/lib/mockApi/appointmentApi.ts
  src/lib/queryClient.ts
  src/utils/availabilityUtils.ts
  tailwind.config.js
Owners: @backend-team

Fix duplicate exports in localApiFunctions.ts and fix linting issues
  PROJECT_REFERENCE.md
  local_db/appointments.json
  local_db/notifications.json
  src/context/AuthContext.tsx
  src/data/patientLoaders.ts
  src/lib/api/appointmentFunctions.ts
  src/lib/apiClient.ts
  src/lib/apiDeduplication.ts
  src/lib/dataValidationUtils.ts
  src/lib/emulatorAdmin.ts
  src/lib/eventBus.ts
  src/lib/localApiCore.ts
  src/lib/localApiFunctions.ts
  src/lib/prefetchUtils.ts
  src/lib/userFunctions.ts
  src/types/node-fetch.d.ts
  src/types/schemas.ts
Owners: @backend-team

Fix patient dashboard profile loading and implement health records/medications pages
  PROJECT_REFERENCE.md
  TEMP_LESSONS_LEARNED.md
  db-validation-report.json
  local_db/appointments.json
  local_db/doctors.json
  local_db/notifications.json
  local_db/users.json
  scripts/addFutureAppointments.js
  scripts/addTestAppointment.js
  scripts/testDashboardStats.js
  sitemap.txt
  src/app/(dev)/batch-api/page.tsx
  src/app/(platform)/admin/dashboard/page.tsx
  src/app/(platform)/doctor/appointments/page.tsx
  src/app/(platform)/doctor/dashboard/page.tsx
  src/app/(platform)/patient/dashboard/page.tsx
  src/app/(platform)/patient/health-records/page.tsx
  src/app/(platform)/patient/medications/page.tsx
  src/data/dashboardLoaders.ts
  src/docs/batch-api-implementation-checklist.md
  src/docs/batch-api-pattern.md
  src/hooks/useBatchData.ts
  src/hooks/useEnhancedDoctorSearch.ts
  src/hooks/useSafeBatchData.ts
  src/lib/api/adminFunctions.ts
  src/lib/api/appointmentFunctions.ts
  src/lib/api/dashboardFunctions.ts
  src/lib/batchApiFallback.ts
  src/lib/batchApiUtils.ts
  src/lib/dataValidationUtils.ts
  src/lib/localApiFunctions.ts
  src/lib/preloadStrategies.ts
  src/tests/batchApi.test.ts
  src/types/schemas.ts
Owners: @backend-team

Patient dashboard improvements
  PROJECT_REFERENCE.md
  src/app/(platform)/patient/dashboard/page.tsx
Owners: none

Fix Next.js params access warnings by using React.use() to unwrap params
  PROJECT_REFERENCE.md
  src/app/(platform)/admin/appointments/[appointmentId]/page.tsx
  src/app/(platform)/doctor/appointments/[appointmentId]/page.tsx
  src/app/(platform)/patient/appointments/[appointmentId]/page.tsx
Owners: none

Update PROJECT_REFERENCE.md with Next.js params changes
  PROJECT_REFERENCE.md
Owners: none

Update dashboard files and local DB data
  local_db/appointments.json
  local_db/notifications.json
  src/app/(platform)/admin/dashboard/page.tsx
  src/app/(platform)/doctor/dashboard/page.tsx
Owners: none

Improve type safety by replacing any types with proper interfaces and fix failing tests
  PROJECT_REFERENCE.md
  src/app/(platform)/admin/appointments/[appointmentId]/page.tsx
  src/app/(platform)/doctor/appointments/[appointmentId]/page.tsx
  src/app/(platform)/doctor/dashboard/page.tsx
  src/app/(platform)/patient/appointments/[appointmentId]/page.tsx
  src/hooks/useSafeBatchData.ts
  src/lib/dataValidationUtils.ts
Owners: @backend-team

fix: improve error handling and date formatting in appointment booking flow
  done_prompt.md
  local_db/appointments.json
  local_db/notifications.json
  src/app/(platform)/book-appointment/[doctorId]/page.tsx
  src/lib/api/appointmentFunctions.ts
Owners: @backend-team
