Repository morabah/health-7, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ui-team, @backend-team, @qa-team

Fix test configuration: separate Jest and Playwright tests
  .husky/pre-commit
  jest.config.js
Owners: none

Fix: Update pre-commit hook for Husky v10 compatibility
  .husky/pre-commit
Owners: none

Improve pre-commit hook to enhance dev workflow
  .husky/pre-commit
  package.json
Owners: none

Test pre-commit hook with a fixed file
  test-file.js
Owners: none

Improve test coverage and update CI pipeline
  .github/workflows/ci.yml
  src/__tests__/lib/dataValidationUtils.test.ts
  src/__tests__/lib/localDb.test.ts
  src/__tests__/lib/serverLocalDb.test.ts
Owners: none

Test: Fix serverLocalDb tests to use proper mocking and correct UserProfile shape
  done_prompt.md
  src/__tests__/lib/serverLocalDb.test.ts
  src/app/(auth)/login/page.tsx
  src/app/auth/login/page.tsx
  src/context/AuthContext.tsx
Owners: none

fix: flatten localApi, fix API client integration, and ensure notification/appointment API calls work as expected [bypass lint]
  done_prompt.md
  src/app/(auth)/login/page.tsx
  src/app/(platform)/admin/dashboard/page.tsx
  src/app/(platform)/admin/doctor-verification/[doctorId]/page.tsx
  src/app/(platform)/admin/users/page.tsx
  src/app/(platform)/doctor-profile/[doctorId]/page.tsx
  src/app/(platform)/doctor/dashboard/page.tsx
  src/app/(platform)/notifications/page.tsx
  src/app/(platform)/patient/appointments/page.tsx
  src/app/(platform)/patient/dashboard/page.tsx
  src/app/(platform)/patient/profile/page.tsx
  src/app/auth/layout.tsx
  src/app/dev/cms/validation/page.tsx
  src/components/auth/Protected.tsx
  src/components/layout/Navbar.tsx
  src/context/AuthContext.tsx
  src/data/adminLoaders.ts
  src/data/doctorLoaders.ts
  src/data/patientLoaders.ts
  src/data/sharedLoaders.ts
  src/lib/apiClient.ts
  src/lib/dateUtils.ts
  src/lib/localApiFunctions.ts
  src/lib/localSession.ts
  src/lib/mockData.ts
  src/types/enums.ts
  src/types/node-fetch.d.ts
  src/types/schemas.ts
Owners: @backend-team

fix(auth): robust session hydration and protected route logic for persistent login [lint bypass]
  @sitemap.txt
  done_prompt.md
  package-lock.json
  package.json
  scripts/seedLocalDb.mjs
  src/app/(platform)/admin/dashboard/page.tsx
  src/app/(platform)/book-appointment/[doctorId]/page.tsx
  src/app/(platform)/doctor/appointments/page.tsx
  src/app/(platform)/doctor/availability/page.tsx
  src/app/(platform)/messages/page.tsx
  src/app/dev/cms/validation/page.tsx
  src/components/auth/Protected.tsx
  src/components/doctor/CompleteAppointmentModal.tsx
  src/components/layout/ClientLayout.tsx
  src/components/layout/Navbar.tsx
  src/context/AuthContext.tsx
  src/data/adminLoaders.ts
  src/data/doctorLoaders.ts
  src/data/sharedLoaders.ts
  src/lib/localApiFunctions.ts
  src/lib/localSession.ts
  src/lib/logger.ts
  src/lib/queryClient.ts
Owners: @ui-team, @backend-team

Force commit all changes
  @sitemap.txt
  done_prompt.md
  local_db/appointments.json
  local_db/doctors.json
  local_db/notifications.json
  local_db/patients.json
  local_db/users.json
  scripts/seedLocalDb.ts
  src/app/api/localDb/route.ts
  src/app/auth-debug/page.tsx
  src/app/auth/forgot-password/page.tsx
  src/app/auth/layout.tsx
  src/app/auth/login/page.tsx
  src/app/auth/pending-verification/page.tsx
  src/app/auth/register/doctor/page.tsx
  src/app/auth/register/page.tsx
  src/app/auth/register/patient/page.tsx
  src/app/cms/api-test/page.tsx
  src/app/cms/page.tsx
  src/app/cms/validation/page.tsx
  src/app/dev/api-test/page.tsx
  src/app/dev/api-test/validation/page.tsx
  src/app/dev/cms/validation/final.tsx
  src/app/dev/cms/validation/final/page.tsx
  src/app/dev/cms/validation/page.tsx
  src/app/dev/ui-test/page.tsx
  src/app/platform/patient/appointments/page.tsx
  src/app/privacy/page.tsx
  src/app/terms/page.tsx
  src/app/unauthorized/page.tsx
  src/components/auth/Protected.tsx
  src/components/auth/ProtectedPage.tsx
  src/components/layout/Navbar.tsx
  src/context/AuthContext.tsx
Owners: none

fix: correct payload for book appointment and slot fetching (frontend/backend contract)
  local_db/appointments.json
  local_db/notifications.json
  src/data/sharedLoaders.ts
  src/lib/localApiFunctions.ts
  src/types/schemas.ts
Owners: @backend-team

fix: add address to allowedPatientUpdates and fix doctor certificatePath ternary
  local_db/patients.json
  local_db/users.json
  src/data/doctorLoaders.ts
  src/data/patientLoaders.ts
  src/lib/localApiFunctions.ts
  src/types/schemas.ts
Owners: @backend-team

Fix doctor availability schedule save functionality
  done_prompt.md
  local_db/appointments.json
  local_db/doctors.json
  local_db/notifications.json
  local_db/patients.json
  src/app/(platform)/doctor/availability/page.tsx
  src/app/(platform)/find-doctors/page.tsx
  src/app/(platform)/patient/dashboard/page.tsx
  src/app/(platform)/patient/profile/page.tsx
  src/context/AuthContext.tsx
  src/data/sharedLoaders.ts
  src/lib/localApiFunctions.ts
  src/lib/useDebounce.ts
Owners: @backend-team

auth problem solved
  done_prompt.md
  local_db/appointments.json
  local_db/doctors.json
  local_db/notifications.json
  local_db/patients.json
  local_db/users.json
  package-lock.json
  package.json
  scripts/fixLocalDbDates.ts
  sitemap.txt
  src/app/(auth)/forgot-password/page.tsx
  src/app/(auth)/layout.tsx
  src/app/(auth)/login/page.tsx
  src/app/(auth)/pending-verification/page.tsx
  src/app/(auth)/register/doctor/page.tsx
  src/app/(auth)/register/page.tsx
  src/app/(auth)/register/patient/page.tsx
  src/app/(auth)/reset-password/[token]/page.tsx
  src/app/(auth)/verify-email/page.tsx
  src/app/(auth)/verify-phone/page.tsx
  src/app/(platform)/book-appointment/[doctorId]/page.tsx
  src/app/(platform)/doctor/dashboard/page.tsx
  src/app/auth/layout.tsx
  src/app/auth/login/page.tsx
  src/components/layout/Navbar.tsx
  src/components/ui/Avatar.tsx
  src/components/ui/ProgressBar.tsx
  src/context/AuthContext.tsx
  src/data/doctorLoaders.ts
  src/lib/localSession.ts
  src/lib/router.ts
  yarn.lock
Owners: @backend-team

Update login page with database accounts and fix admin authentication flow
  done_prompt.md
  local_db/doctors.json
  local_db/notifications.json
  local_db/users.json
  src/app/(auth)/login/page.tsx
  src/app/(platform)/book-appointment/[doctorId]/page.tsx
  src/app/(platform)/doctor/availability/page.tsx
  src/app/(platform)/doctor/dashboard/page.tsx
  src/app/(platform)/doctor/profile/page.tsx
  src/app/(platform)/patient/dashboard/page.tsx
  src/app/auth/login/page.tsx
  src/components/auth/ProtectedPage.tsx
  src/components/doctor/CancelAppointmentModal.tsx
  src/components/doctor/CompleteAppointmentModal.tsx
  src/components/layout/Navbar.tsx
  src/context/AuthContext.tsx
  src/data/sharedLoaders.ts
  src/lib/apiClient.ts
  src/lib/localApiFunctions.ts
  src/lib/logger.ts
Owners: @ui-team, @backend-team

Fix linting issues - added .eslintignore and updated login page entities
  .eslintignore
  done_prompt.md
Owners: none

Fix linting errors in CompleteAppointmentModal and update .eslintignore
  .eslintignore
  src/components/doctor/CompleteAppointmentModal.tsx
Owners: @ui-team

Update done_prompt.md with linting error fixes
  done_prompt.md
Owners: none

Fix logWarn call in validateCollectionData function to pass tests
  src/lib/dataValidationUtils.ts
Owners: @backend-team

Update done_prompt.md with dataValidationUtils test fix
  done_prompt.md
Owners: none

Fix appointment booking system error with getAvailableSlots API function
  docs/ERROR_BOUNDARIES.md
  done_prompt.md
  error_handling_checklist.md
  local_db/appointments.json
  local_db/notifications.json
  local_db/users.json
  src/app/(platform)/book-appointment/[doctorId]/page.tsx
  src/app/(platform)/find-doctors/page.tsx
  src/app/(platform)/patient/dashboard/page.tsx
  src/app/auth/pending-verification/page.tsx
  src/app/auth/register/doctor/page.tsx
  src/app/auth/register/page.tsx
  src/app/auth/register/patient/page.tsx
  src/app/cms/todo/page.tsx
  src/app/error/page.tsx
  src/components/layout/ClientLayout.tsx
  src/components/ui/ErrorBoundary.tsx
  src/components/ui/ErrorDisplay.tsx
  src/components/ui/Todo.tsx
  src/components/ui/withErrorBoundary.tsx
  src/data/todoLoaders.ts
  src/hooks/useErrorHandler.ts
  src/lib/apiClient.ts
  src/lib/apiErrorHandling.ts
  src/lib/errorMonitoring.ts
  src/lib/localApiFunctions.ts
  src/types/schemas.ts
Owners: @backend-team

Enhance registration flow with success confirmation page
  @sitemap.txt
  docs/ERROR_HANDLING.md
  done_prompt.md
  local_db/doctors.json
  local_db/notifications.json
  local_db/users.json
  src/app/auth/pending-verification/page.tsx
  src/app/auth/register/doctor/page.tsx
  src/app/auth/register/patient/page.tsx
  src/app/auth/registration-success/page.tsx
  src/app/auth/sitemap.txt
  src/components/layout/Navbar.tsx
  src/components/ui/withErrorBoundary.tsx
  src/context/AuthContext.tsx
  src/lib/localApiCore.ts
  src/lib/localApiFunctions.ts
  src/types/schemas.ts
Owners: @backend-team

Enhance admin dashboard, doctor verification process, and user management
  done_prompt.md
  src/app/(platform)/admin/dashboard/page.tsx
  src/app/(platform)/admin/doctor-verification/[doctorId]/page.tsx
  src/app/(platform)/admin/users/page.tsx
  src/components/admin/VerificationForm.tsx
  src/components/ui/Tabs.tsx
  src/components/ui/Tooltip.tsx
  src/lib/dateUtils.ts
Owners: @backend-team

chore: commit and sync changes
  src/components/layout/Navbar.tsx
  src/components/ui/UserSwitcher.tsx
  src/context/AuthContext.tsx
  src/lib/localSession.ts
Owners: @backend-team

Fix user profile updates and admin functionality - corrected parameter handling in API functions
  @sitemap.txt
  done_prompt.md
  local_db/appointments.json
  local_db/doctors.json
  local_db/notifications.json
  local_db/users.json
  src/app/(platform)/admin/activity/page.tsx
  src/app/(platform)/admin/dashboard/page.tsx
  src/app/(platform)/admin/settings/page.tsx
  src/app/(platform)/admin/users/[userId]/edit/page.tsx
  src/app/(platform)/admin/users/[userId]/page.tsx
  src/app/(platform)/patient-profile/[patientId]/page.tsx
  src/data/adminLoaders.ts
  src/data/doctorLoaders.ts
  src/data/patientLoaders.ts
  src/data/sharedLoaders.ts
  src/lib/api/adminFunctions.ts
  src/lib/api/appointmentFunctions.ts
  src/lib/api/dashboardFunctions.ts
  src/lib/api/doctorFunctions.ts
  src/lib/api/index.ts
  src/lib/api/notificationFunctions.ts
  src/lib/apiClient.ts
  src/lib/localApiFunctions.ts
  src/lib/userFunctions.ts
  src/types/schemas.ts
Owners: @backend-team

Fix linting issues in API functions - removed unused imports and improved type safety
  src/lib/api/adminFunctions.ts
  src/lib/api/dashboardFunctions.ts
  src/lib/api/doctorFunctions.ts
  src/lib/api/notificationFunctions.ts
  src/lib/userFunctions.ts
Owners: @backend-team

Enhance error handling for Firebase migration - Fix type issues and add comprehensive Firebase error mapping
  src/lib/README_FIREBASE_MIGRATION.md
  src/lib/apiAuthCtx.ts
  src/lib/apiClient.ts
  src/lib/apiErrorHandling.ts
  src/lib/firebaseConfig.ts
  src/lib/firebaseErrorMapping.ts
  src/lib/firebaseFunctions.ts
Owners: @backend-team

Implement error boundaries and fix API functions
  @sitemap.txt
  done prompt.md
  done_prompt.md
  local_db/appointments.json
  local_db/notifications.json
  local_db/users.json
  src/README_FIREBASE_MIGRATION.md
  src/app/(platform)/admin/dashboard/page.tsx
  src/app/(platform)/book-appointment/[doctorId]/page.tsx
  src/app/(platform)/doctor/appointments/page.tsx
  src/app/(platform)/doctor/profile/page.tsx
  src/app/(platform)/patient/appointments/page.tsx
  src/app/(platform)/patient/profile/page.tsx
  src/app/auth/login/page.tsx
  src/components/error-boundaries/AdminDashboardErrorBoundary.tsx
  src/components/error-boundaries/AppointmentErrorBoundary.tsx
  src/components/error-boundaries/AuthErrorBoundary.tsx
  src/components/error-boundaries/BookingPaymentErrorBoundary.tsx
  src/components/error-boundaries/BookingWorkflowErrorBoundary.tsx
  src/components/error-boundaries/DataLoadingErrorBoundary.tsx
  src/components/error-boundaries/DoctorProfileErrorBoundary.tsx
  src/components/error-boundaries/PaymentProcessingErrorBoundary.tsx
  src/components/error-boundaries/README.md
  src/components/error-boundaries/TimeSlotSelectionErrorBoundary.tsx
  src/components/error-boundaries/index.ts
  src/components/layout/ClientLayout.tsx
  src/components/layout/RootErrorBoundary.tsx
  src/data/patientLoaders.ts
  src/hooks/useBookingError.ts
  src/lib/api/appointmentFunctions.ts
  src/lib/apiAuthCtx.ts
  src/lib/apiClient.ts
  src/lib/apiErrorHandling.ts
  src/lib/firebaseConfig.ts
  src/lib/firebaseErrorMapping.ts
Owners: @backend-team

Fix linting errors in error boundaries and layout components
  src/components/error-boundaries/BookingPaymentErrorBoundary.tsx
  src/components/error-boundaries/BookingWorkflowErrorBoundary.tsx
  src/components/error-boundaries/TimeSlotSelectionErrorBoundary.tsx
  src/components/layout/ClientLayout.tsx
  src/components/layout/RootErrorBoundary.tsx
Owners: none

Fix linting errors: replace any with specific types, fix unescaped entities, remove unused variables
  src/app/auth/pending-verification/page.tsx
  src/app/error/page.tsx
  src/hooks/useBookingError.ts
  src/lib/apiAuthCtx.ts
  src/lib/firebaseConfig.ts
Owners: @backend-team

Fix linting issues: Replace any with specific types in error handling files
  src/hooks/useErrorHandler.ts
  src/lib/apiErrorHandling.ts
Owners: @backend-team

Update done_prompt.md with type safety improvements
  done_prompt.md
Owners: none

Add comprehensive PROJECT_REFERENCE.md with detailed documentation of all systems
  PROJECT_REFERENCE.md
  src/done_prompt.md
Owners: none

Comprehensive project update: Add enhanced error handling, performance optimizations, API call structure fixes, and documentation
  .cursor/rules/description.mdc
  done prompt.md
  done_prompt.md
  local_db/appointments.json
  local_db/notifications.json
  local_db/users.json
  package-lock.json
  src/app/(platform)/patient/dashboard/page.tsx
  src/app/(platform)/patient/profile/page.tsx
  src/app/auth/pending-verification/page.tsx
  src/app/auth/register/patient/page.tsx
  src/components/cms/TodoList.tsx
  src/components/layout/ClientLayout.tsx
  src/components/shared/DoctorFilters.tsx
  src/components/shared/DoctorItem.tsx
  src/components/shared/LazyDoctorList.tsx
  src/components/ui/Divider.tsx
  src/components/ui/ErrorDisplay.tsx
  src/data/doctorLoaders.ts
  src/data/patientLoaders.ts
  src/lib/api/appointmentFunctions.ts
  src/lib/apiClient.ts
  src/lib/dateUtils.ts
  src/lib/enhancedApiClient.ts
  src/lib/errorMonitoring.ts
  src/lib/firebaseErrorMapping.ts
  src/lib/lazyLoadUtils.tsx
  src/lib/optimizedDataAccess.ts
  src/lib/queryClient.ts
  src/lib/serverLocalDb.ts
  src/lib/userFunctions.ts
  yarn.lock
Owners: @backend-team

Fix linting issues: Improve type safety, remove unused imports, and enhance code quality
  PROJECT_REFERENCE.md
  src/components/LazyComponents.tsx
  src/components/layout/Navbar.tsx
  src/components/notifications/NotificationList.tsx
  src/lib/optimizedDataAccess.ts
Owners: @backend-team

Fix TypeScript and linting issues in optimizedDataAccess.ts
  src/lib/optimizedDataAccess.ts
Owners: @backend-team

Fix TypeScript and linting errors in enhancedApiClient.ts
  src/lib/enhancedApiClient.ts
Owners: @backend-team

Update PROJECT_REFERENCE.md with enhancedApiClient.ts fixes
  PROJECT_REFERENCE.md
Owners: none

Fixed memory leaks in book-appointment and implemented LRU cache system for performance optimization. Added proper cleanup for unmounted components and implemented API deduplication.
  PROJECT_REFERENCE.md
  src/app/(platform)/book-appointment/[doctorId]/page.tsx
  src/components/layout/Navbar.tsx
  src/components/notifications/NotificationList.tsx
  src/lib/apiClient.ts
  src/lib/apiDeduplication.ts
  src/lib/cacheManager.ts
  src/lib/lruCache.ts
  src/lib/optimizedDataAccess.ts
Owners: @backend-team

Fixed AppCacheError reference error in optimizedDataAccess.ts
  PROJECT_REFERENCE.md
  src/lib/errors.ts
  src/lib/optimizedDataAccess.ts
Owners: @backend-team

Fixed AppCacheError reference in errors.ts default export
  PROJECT_REFERENCE.md
  src/lib/errors.ts
Owners: @backend-team

.github/CODEOWNERS:

# UI modules
/src/components/patient/ @ui-team
/src/components/doctor/  @ui-team
# API & libs
/src/lib/                @backend-team
# E2E tests
/e2e/                    @qa-team
